.app-users {
  padding: 20px;

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
    thead {
      th {
        text-align: left;
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
      }
    }
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}
